* {
    margin: 0;
    padding: 0;
    background: #000;
}

body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.wrap {
    max-width: 800px;
    width: 100%;
    color: gold;
    text-align: center;
    transform: perspective(400px) rotateX(18deg) translateX(-50%);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    height: 1000px;
    transform-origin: 10% 100%;
}

.content {
    position: absolute;
    top: 100%;
    animation: starWars 30s linear;
    animation-iteration-count: infinite;
}

.title {
    font-size: 72px;
    text-shadow: 0 -2px 5px gold, 0 -3px 3px grey, 0 -4px 2px white;
}

.subtitle {
    margin: 50px;
    font-weight: bold;
    font-size: 48px;
}

.text {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
}

@keyframes starWars {
    0% {
       top: 100%;
    }
    100% {
        top: -200%;
    }
}