.form {
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0px grey;
    font-family: sans-serif;
    font-size: 14px;
}

.form-wrapper {
    padding: 30px;
}

.form-price-container, .error-message-container {
    height: 30px;

}

.error-message-container {
    color: red;
    font-style: italic;
    font-size: 12px;
}

.form-price-item {
    border-radius: 12px;
    border: 1px solid grey;
    display: inline-block;
    padding: 2px 3px 2px 10px;
}

.form-price-item + .form-price-item {
    margin-left: 5px;
}

.form-price-item-remove {
    border-radius: 50%;
    border: 1px solid grey;
    text-align: right;
    margin-left: 15px;
    outline: none;
}

.form-price-inp {
    border: 2px solid grey;
    outline: none;
    border-radius: 5px;
}

.form-price-inp:focus, .form-price-inp:checked {
    background: none;
}

.focus {
    border-color: #3CB878;
}

.form-price-inp.error {
    border-color: red;
}

.hidden {
    visibility: hidden;
}