.articles-item {
  //background-color: #ffffff;
  list-style: none;
  margin: 10px;
  display: inline-block;
  width: 255px;
  color: #2b091b;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
  padding-bottom: 15px;
  position: relative;
}

.articles {
  &__img {
    width: 255px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
  }
  &__title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  &__artist {
    font-style: italic;
    font-size: 11px;
    margin-bottom: 10px;
  }
  &__release-year {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 700;
    margin-right: 20px;
  }
}


.btn-delete-item:before, .btn-delete-item:after {
  content: '';
  display: inline-block;
  height: 17px;
  width: 2px;
  background-color: black;
}
.btn-delete-item:before {
  transform: rotate(50deg);
}

.btn-delete-item:after {
  transform: rotate(130deg);
}

.btn-delete-item {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: white;
  color: black;
  font-size: 22px;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  right: 0;
}