
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

.page-head {
    margin-top: 60px;
}

.logo-link {
    font-size: 80px;
    color: #000;
    display: inline-block;
}

.logo-dec {
    color: #00bfff;
}

.header-menu-block {
    margin: 40px 0 50px 0;
    text-align: center;
    background-color: #35444F;
}

.header-menu-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
    display: inline-block;
    padding: 25px 40px;
    background-color: #35444F;
    border-left: 1px solid #000;
    border-right: 1px solid transparent;
}

.header-menu-link:hover {
    background-color: #222F3A;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.logo-img-block {
    border: 1px solid grey;
    text-align: center;
    margin-bottom: 40px;
    padding: 75px 0;
}

.logo-img {
    width: 320px;
    transition: 0.8s;
}

.logo-img:hover {
    transform: scale(1.1);
}


aside {
    width: 345px;
    display: inline-block;
    vertical-align: top;
}

.right-block {
    width: 885px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    margin-left: 50px;
}

.descr-list-block {
    border: 1px solid grey;
}

.descr-list-link {
    text-decoration: none;
    font-size: 27px;
    color: #485863;
    display: inline-block;
}

.descr-list-item {
    padding: 15px 0 15px 25px;
    transition: .2s;
}

.descr-list-item:hover {
    background-color: #DBDBDB;
    padding-left: 35px;
    color: #000;

}

.main-content {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-block {
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer-list-block {
    padding-left: 45px;
    display: inline-block;
    vertical-align: middle;
}

.footer-list-item {
    display: inline-block;
    padding: 15px;
}

.footer-list-link {
    color: #0C1927;
    font-size: 28px;
    display: inline-block;
    transition: .2s;
}

.footer-list-link:hover {
    border-bottom: 1px solid #00bfff;
    color: #00bfff;
}

.footer-cr {
    font-size: 24px;
    display: inline-block;
    padding: 15px 0;
    vertical-align: middle;
    margin-left: 115px;
}