.header {
  background-color: #BEBEBE;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__cart {
    position: relative;
    &:after {
      content: attr(id);
      position: absolute;
      right: -10px;
      bottom: 0;
      color: #9f2222;
      font-weight: bold;
      display: inline-block;
    }
  }
}
