* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

body.dark {
    background-color: #0A162F;
}

.btn-theme {
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #14B9D5;
    font-size: 14px;
    color: #fff;
}

.btn-theme.dark {
    background-color: #5B6469;
}

.background {
    background: #3A4965;
    margin: 0 auto;
    width: 1155px;
    padding: 20px;
    transform: translateY(calc((100vh - 747px) / 2));
}

.background.dark {
    background: #fff;
}

.table {
    background: #FAFAFA;
    width: 100%;
    border-collapse: collapse;
}

.table.dark {
    background: #0A162F;
}

.table__title, .table__subtitle, .table__item, .table__btn-item {
    border-left: 2px solid #c6c6c6;
}

.table__title {
    width: 280px;
    height: 75px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}

.table__title.dark, .table__subtitle.dark, .table__item.dark {
    color: #fff;
}

.table__subtitle {
    height: 90px;
    color: #484848;
    font-size: 60px;
    vertical-align: bottom;
    line-height: .85;
}

.table__subtitle_price {
    display: inline-block;
    position: relative;
}

.table__subtitle_cents {
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: -10px;
}

.table__subtitle_decor {
    font-size: 18px;
    vertical-align: super;
    font-weight: normal;
    text-transform: uppercase;
}

.table__title_pricing-plan {
    color: #484848;
    font-size: 18px;
}
.table__title_pricing-plan span {
    font-size: 30px;
    display: block;
    padding-top: 2px;
}

.table__title_standard {
    background: #89C331;
}

.table__title_ultimate {
    background: #F04A56;
    font-size: 30px;
}

.table__title_premium {
    background: #20807C;
}

.table__item {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    height: 72px;
}

.table__icon {
    padding: 0 15px;
    font-size: 24px;
    color: #848484;
}

.table__btn-item {
    height: 110px;
    text-align: center;
}

.table__btn-contact {
    background: #ddd;
}

.table__btn-standard {
    background: #eee;
}
.table__btn-ultimate {
    background: #F4F4F4;
}
.table__btn-premium {
    background: #EEEEEE;
}

.btn {
    width: 195px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border: none;
    transition: .3s;
}

.btn_contact {
    background: #484848;
    box-shadow: inset 0 -9px 0 #404040;
}

.btn_contact:hover {
    box-shadow: inset 0 -9px 0 #404040, 0 0 8px 2px  rgba(0, 0, 0, .5);
}

.btn_standard {
    background: #89C331;
    box-shadow: inset 0 -9px 0 #79B027;
}

.btn_standard:hover {
    box-shadow: inset 0 -9px 0 #79B027, 0 0 8px 2px  rgba(0, 0, 0, .5);
}

.btn_utlimate {
    background: #F04A56;
    box-shadow: inset 0 -9px 0 #DF3A46;
}

.btn_utlimate:hover {
    box-shadow: inset 0 -9px 0 #DF3A46, 0 0 8px 2px  rgba(0, 0, 0, .5);
}

.btn_premium {
    background: #20807C;
    box-shadow: inset 0 -9px 0 #16736F;
}

.btn_premium:hover {
    box-shadow: inset 0 -9px 0 #16736F, 0 0 8px 2px  rgba(0, 0, 0, .5);
}

.table__btn-contact.dark {
    background: #455673;
}

.table__btn-standard.dark,.table__btn-premium.dark {
    background: #3A4965;
}

.table__btn-ultimate.dark {
    background: #3e4c69;
}


.table__body_row:nth-child(even) {
    background-color: #E3E3E3;
}

.table__body_row:nth-child(even).dark {
    background-color: #0C1927;
}

.table__body_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table__body_row:nth-child(odd).dark {
    background: #3A4965;
}



