* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.background {
    background: url("../img/background.jpg") no-repeat;
    height: 100vh;
    overflow-y: scroll;
    background-size: cover;
}


.container {
    width: 1030px;
    margin: 0 auto;
}

.header {
    padding: 50px 0 21px;
    color: #fff;
}

.header-logo-block {
    float: left;
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.header-logo-name {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    padding-left: 8px;
    line-height: .72;
    top: 6px;
}

.header-logo-name .header-logo-decor {
    display: inline-block;
    font-size: 18px;
}

.header-contacts {
    float: right;
    list-style: none;
    text-align: right;
}

.header-contacts-link {
    text-decoration: none;
    color: #fff;
    display: block;
}

.header-contacts-link:first-of-type {
    margin-bottom: 8px;
}

.header-contacts-link:hover {
    color: #F26522;
}

.header-contacts-phone {
    display: inline-block;
}

.header-logo-link {
    display: block;
    color: #fff;
}

 .header-logo-block:hover .header-logo-img {
     content: url("../img/logo_hover.png");
}

 .header-logo-block:hover p {
     color: #F26522;
 }

.header.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.gallery {
    color: #fff;
    font-size: 18px;
}

.element {
    float: left;
    width: calc(100% / 3 - 65px);
    text-align: center;
    margin-bottom: 40px;
    margin-right: 97px;
}

.element:nth-child(3n) {
    margin-right: 0;
}

.gallery-item {
    text-decoration: none;
    color: #fff;
}

.gallery-item-title {
    margin-top: 34px;
}

.gallery-item-img {
    height: 220px;
    background-repeat: no-repeat;
}

.gallery-item-shopping {
    background-image: url("../img/shopping_tours.jpg");
}

.gallery-item-sightseeing {
    background-image: url("../img/sightseeing_tours.jpg");
}

.gallery-item-food {
    background-image: url("../img/food_tours.jpg");
}

.gallery-item-bars {
    background-image: url("../img/bars_and_night.jpg");
}

.gallery-item-art {
    background-image: url("../img/art_and_architecture.jpg");
}

.gallery-item-walking {
    background-image: url("../img/walking_tours.jpg");
}

.gallery-hidden-content {
    text-decoration: none;
    padding-top: 165px;
    opacity: 0;
}

.element:hover .gallery-hidden-content  {
    opacity: 1;
}

.element:hover .gallery-item-title {
    color: #F26522;
}

.gallery-content-container {
    background-color: #F26522;
}

.gallery-content-price {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0 10px 16px;
    float: left;
}

.gallery-content-price:before {
    content: 'from';
    display: block;
    font-size: 10px;
    padding-bottom: 6px;
}

.gallery-content-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 35px 10px 10px 0;
    display: inline-block;
    float: right;
}

.gallery-content-link:after {
    content: '';
    border-left: 1px solid #fff;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #fff;
    transform: rotate(225deg);
    display: inline-block;
    margin-left: 40px;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


.footer {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-bottom: 15px;
}