* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.btn-start {
  padding: 5px 10px;
  z-index: -1;
  border: none;
  margin: 15px 0 0 15px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;

  &__active {
    background-color: #b04e27;
  }
}


.modal {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
  &__wrapper {
    position: absolute;
    max-width: 520px;
    width: 100%;
    background-color: rgb(231, 76, 60);
    border-radius: 5px;
    cursor: default;
    z-index: 20;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    top: 20%;
    left: 50%;
    text-align: center;
  }
  &__header {
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: white;
    font-size: 22px;
    text-align: left;
  }
  &__text {
    padding: 26px 30px;
    color: white;
    font-size: 15px;
  }
}

.btn {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
  margin: 0 15px 20px 15px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  padding: 10px 15px;
}

.btn-close-modal:before, .btn-close-modal:after {
  content: '';
  display: inline-block;
  height: 25px;
  width: 1px;
  background-color: white;
}
.btn-close-modal:before {
  transform: rotate(35deg);
}

.btn-close-modal:after {
  transform: rotate(145deg);
}

.btn-close-modal {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 22px;
  padding: 10px;
}