* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.background {
    background: center / cover no-repeat url('../img/background.jpg');
    overflow-y: scroll;
    height: 100vh;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
}

.header-item-brand {
    float: left;
    margin: 0;
}

.header-link-brand {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.header-right {
    float: right;
    padding: 10px 0;
}

.header-icons {
    float: left;
}

.header-item-login {
    color: #fff;
    float: left;
}

.header-icon-link {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 30px;
    margin-right: 30px;
}

.header-calendar {
    background: url("../img/sprite_sheet.png") 50px 340px;
}

.header-calendar:hover {
    background-position: 50px 400px;
}

.header-forum {
    background: url("../img/sprite_sheet.png") 50px 280px;
}

.header-forum:hover {
    background-position: 50px 160px;
}

.header-journey {
    background: url("../img/sprite_sheet.png") 50px 220px;
}

.header-journey:hover {
    background-position: 50px 100px;
}

.header-item-login:before {
    content: '';
    border-left: 1px solid #fff;
    margin: 5px 30px 5px 0;
    opacity: .5;
}

.header-link-login {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.header-link-login:first-child {
    padding-right: 8px;
}

.header-link-login:hover,
.header-link-brand:hover {
    color: #3CB878;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.main-block {
    width: 444px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 42px rgba(0, 0, 0, 0.76);
    transform: translateY(calc((100vh - 81px - 641px) / 2));
}

.form-container {
    padding: 30px 60px;
}

.form-heading-signup {
    float: left;
    font-size: 20px;
    position: relative;
}

.form-heading-signup:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3CB878;
    top: 3px;
    left: -60px;
}

.form-heading-login {
    float: right;
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}

.form-heading-login:hover {
    text-decoration: underline;
}

.form-social-block {
    margin: 20px 0 30px 0;
}

.form-social-btn {
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    height: 48px;
    width: 160px;
    line-height: 48px;
}

.form-social-fb {
    float: left;
    background-color: #305DB8;
}

.form-social-btn:before {
    content: '';
    opacity: .1;
    display: inline-block;
    height: 28px;
    width: 1px;
    padding-right: 27px;
    margin-left: 40px;
    vertical-align: middle;
}

.form-social-fb:before {
    content: '';
    border-left: 1px solid #0A162F;
}

.form-social-google:before {
    border-left: 1px solid #2B0D09;
}

.fb-icon {
    display: inline-block;
    width: 30px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/sprite_sheet.png) 50px 41px;
    margin-left: -56px;
    padding-right: 28px;
}

.google-icon {
    display: inline-block;
    width: 30px;
    height: 21px;
    vertical-align: middle;
    background: url(../img/sprite_sheet.png) 50px 457px;
    margin-left: -62px;
    padding-right: 36px;
}

.form-social-google {
    float: right;
    background: #DF4A32;
}

.form-divisor-block {
    text-align: center;
}

.form-divisor-item {
    text-align: center;

}
.form-divisor-item:before, .form-divisor-item:after {
    content: '';
    display: inline-block;
    width: 44%;
    height: 1px;
    background: #F2F2F2;
    vertical-align: middle;
}

.form-divisor-item:before {
    margin-right: 5px;
}
.form-divisor-item:after {
    margin-left: 5px;
}

.form {
    margin-top: 15px;
    width: 100%;
}

.form-item {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    margin-bottom: 15px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.form-item::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.form-item:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-check-link {
    color: #3CB878;
    text-decoration: none;
}

.form-submit {
    background: rgba(60, 184, 120, 0.8);
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    box-sizing: border-box;
    margin-top: 15px;
}

.form-terms-checkmark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.form-terms {
    display: none;
}

.form-check {
    position: relative;
}

.form-terms:checked ~ .form-terms-mark:before {
    content: '';
    display: inline-block;
    background: transparent;
    height: 15.5px;
    width: 8px;
    transform: rotate(-140deg);
    border-left: 2px solid #3CB878;
    border-top: 2px solid #3CB878;
    position: absolute;
    top: 0;
    left: 5px;
}



