.btn-start {
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}