@import './reset';
@import './colours-matrix';
@import './variables';
@import './mixins';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.wrap {
  padding: 0 10px;
}

.header {
  margin: 25px 0;
  height: 36px;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.nav {
  opacity: 0;
  max-height: 600px;
  animation: menu-back .3s linear;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: -1;
  background: $defaultBurgerMenuFill;
  &__list {
    list-style: none;
  }
  &__item {
    padding: 4px 13px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      background: $menuHoverLinkFill;
    }
  }
  &__link {
    color: $defaultText;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    margin: 8px;
    text-decoration: none;
    transition: .3s;

    &.active {
      color: $menuActiveLink;
    }
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: $defaultLightFill;
  display: flex;
  flex-direction: column;
  @include display-flex-center;
  padding: 13px;
  &__inp {
    display: none;
    &:checked ~ .nav {
      visibility: visible;
      animation: menu .2s linear;
      opacity: 1;
    }
  }
  &__decor {
    &:after, &:not(:last-child)::before {
      content: '';
      width: 17px;
      height: 2px;
      background-color: $defaultFill;
      display: block;
      margin-bottom: 2px;
      animation: cross .3s;
      transition: .3s;
    }
    &:last-child::after{
      margin-bottom: 0;
    }
  }
}

.burger-menu__inp:checked + .burger-menu .burger-menu__decor:last-child {
  opacity: 0;
}

.burger-menu__inp:checked + .burger-menu .burger-menu__decor:after {
  transform: translateY(-2px) rotate(-45deg);
}

.burger-menu__inp:checked + .burger-menu .burger-menu__decor:before {
  transform: translateY(2px) rotate(45deg);
}


@keyframes menu {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}


@keyframes menu-back {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 1;
  }
}


.banner img {
  width: 100%;
  height: auto;
}


.main {
  padding: 40px 0;
  &__title {
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

.title_decor {
  &_left {
    &:before {
      content: '-';
      padding-right: 5px;
    }
  }
  &_right {
    &:after {
      content: '-';
      padding-left: 5px;
    }
  }
}

.section__title {
  font-weight: bold;
  font-size: 14px;
  color: $defaultText;
  text-transform: uppercase;
}

.article {
  margin-bottom: 28px;
  &__title {
    text-transform: capitalize;
    margin-top: 11px;
    line-height: 30px;
  }
  &__theme {
    color: $defaultMetaInfoText;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 13px;
  }
  &__comments:before {
    content: '/';
    padding: 0 5px;
  }
  &__text {
    font-size: 14px;
    line-height: 26px;
    color: $defaultArticleText;
  }
  &__img {
    max-width: 160px;
    width: 100%;
  }
}

.last-shots {
  background: rgba(0, 0, 0, .03);
  mix-blend-mode: normal;
  &__link {
    text-decoration: none;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__img + &__img {
    margin-left: 10px;
  }
}

.footer {
  background: $defaultFill;
  padding: 67px 0;
  text-align: center;
  &__title {
    text-transform: uppercase;
    color: $defaultLightTitle;
    margin-bottom: 22px;
  }
  &__text, &__contacts {
    color: $defaultLightText;
    font-size: 14px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0 35px;
}

.social {
  margin: 34px 0;
  &__link {
    display: inline-flex;
    @include display-flex-center;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    &:last-child {
      margin-left: 0;
    }
    &_rss {
      border-color: $rss;
      &:hover {
        border-color: lighten($rss, 20%);
      }
    }
    &_fb {
      border-color:  $facebook;
      &:hover {
        border-color: lighten($facebook, 20%);
      }
    }
    &_twitter {
      border-color: $twitter;
      &:hover {
        border-color: lighten($twitter, 20%);
      }
    }
    &_dribble {
      border-color: $dribble;
      &:hover {
        border-color: lighten($dribble, 20%);
      }
    }
    &_pinterest {
      border-color: $pinterest;
      &:hover {
        border-color: lighten($pinterest, 20%);
      }
    }
  }
  &__img {
    vertical-align: middle;
  }
}

@media only screen and (max-width: $tablet-screen-width) {
  .article {
    &:last-child {
      display: none;
    }
    &__text {
      display: none;
    }
  }
  .last-shots {
    &__img {
      width: 100%;
    }
    &__img:not(:first-child) {
      display: none;
    }
    &__link {
      display: none;
    }
    &__title {
      &_tablet {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $tablet-screen-width) {
  .header {
    height: unset;
    margin: 0;
  }
  .nav {
    opacity: 1;
    max-height: none;
    animation: none;
    position: static;
    background: none;
    display: flex;
    @include display-flex-center;
    height: 108px;
    &__list {
      display: inline-flex;
      justify-content: space-between;
      max-width: 511px;
      width: 100%;
    }
    &__link, &__item {
      padding: 0;
      margin: 0;
    }
    &__item:hover {
      background: none;
    }
  }
  .burger-menu {
    display: none;
  }

  .main {
    padding: 57px 0;
  }
  .section__title {
    font-size: 16px;
  }
  .article__theme {
    font-size: 12px;
  }
  .last-shots {
    &__img {
      width: 100%;
      &:last-child {
        display: none;
      }
    }
    &__title {
      &_mob {
        display: none;
      }
    }
  }
  .section__title {
    font-size: 16px;
  }
  .footer {
    &__text, &__contacts {
      font-size: 16px;
      line-height: 28px;
    }
    &__contacts {
      line-height: 26px;
    }
  }
}


@media only screen and (min-width: $desktop-screen-width) {
  .nav {
    height: 118px;
    &__list {
      max-width: 715px;
      width: 100%;
    }
  }
  .main {
    padding: 67px 0;
    .flex-wrapper {
      display: flex;
      flex-flow: wrap;
    }
  }

  .article {
    display: flex;
    width: 50%;
    &__right-block {
      margin-left: 20px;
    }
  }
  .last-shots {
    &__img {
      width: 100%;
      &:last-child {
        display: inline-block;
      }
    }
  }
  .wrap {
    padding: 0;
  }
}