.nav {
  list-style: none;
  display: flex;

  &__link {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
    padding: 5px 10px;
    background-color: white;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    &:hover {
      background-color: #455673;
      color: white;
    }
    &__active {
      color: #9f2222;
      background-color: #7b86a5;
    }

  }
}