.articles-item {
  background-color: white;
  list-style: none;
  margin: 10px;
  display: inline-block;
  width: 255px;
  color: #2b091b;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
  padding-bottom: 15px;
}

.articles {
  &__img {
    width: 255px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
  }
  &__title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  &__artist {
    font-style: italic;
    font-size: 11px;
    margin-bottom: 10px;
  }
  &__release-year {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 700;
    margin-right: 20px;
  }
}