*, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #313131;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.header-logo-img {
    margin: 0 27px;
}

.header-search-link {
    display: inline-block;
    background: #000;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    padding: 0 26px;
}

.header-link {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.header-link + .header-link {
    margin-left: 35px;
}

.header-link:hover {
    color: #14B9D5;
}


.header-banner {
    background: no-repeat url("../img/header-background.jpg") fixed;
    text-align: center;
    background-size: cover;
    padding: 165px 0 75px 0;
}

.header-title {
    margin-bottom: 45px;
    color: #fff;
    font-size: 27px;
}

.header-btn {
    padding: 15px 20px;
    border-radius: 5px;
    border: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}

.header-btn + .header-btn {
    margin-left: 20px;
}

.header-btn-green {
    background: #89CA62;
}

.header-btn-blue {
    background: #14B9D5;
}

.posts {
    padding: 50px 0 75px 0;
    text-align: center;
    background: #F2F2F2;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.posts-title {
    font-size: 27px;
    color: #18B4CF;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.posts-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 850px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}

.posts-img {
    width: 100%;
    object-fit: cover;
}
.posts-item {
    background: #fff;
    width: 370px;
}

.posts-item:nth-child(odd) {
    margin-bottom: 30px;
}


.posts-descr {
    color: #353A3D;
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
}

.clients {
    background: no-repeat url("../img/background_clients.jpg") fixed;
    padding: 105px 0 190px 0;
    background-size: cover;
    justify-content: center;
    display: grid;
}

.clients-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    text-align: center;
    display: grid;
    justify-items: center;
    margin-bottom: 106px;
}

.clients-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin-top: 85px;
}

.clients-grid-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    align-items: center;
}


.gallery-title,
.news-title {
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    color: #18B4CF;
    font-size: 27px;
}

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gallery-img {
    width: 100%;
}

.news {
    margin-bottom: 70px;
}

.news-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 44px;
    justify-content: space-between;
}

.news-item {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.span3 {
    grid-column: span 3;
}

.span2 {
    grid-column: span 2;
}

.span3:nth-child(odd) + .news-grid-col {
    margin-left: 15.5px;
}

.news-grid-col + .span3:nth-child(even) {
    margin-right: 15.5px;
}

.span3:nth-child(even) {
    margin-left: 19.5px;
}

.span3:nth-child(odd) {
    margin-right: 19.5px;
}

.span2:nth-child(odd) {
    margin-right: 30px;
}

.span2:nth-child(even) {
    margin-left: 30px;
}

.news-item-horizontal {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.news-img {
    width: 100%;
    object-fit: cover;
}

.news-img-xs{
    height: 210px;
    object-fit: cover;
}

.news-content {
    padding: 41px 24px 40px 15px;
    text-align: right;
    background: #F9F7F7;
}

.news-heading {
    color: #353A3D;
    font-size: 18px;
    margin-bottom: 14px;
}

.news-heading-center {
    text-align: center;
    padding: 14px 0 11px 0;
}

.news-text {
    color: #5B6469;
    font-size: 14px;
    font-weight: 600;
}

.news-content-center-block {
    padding: 14px 14px 3px 13px;
}

.footer {
    background: #000;
}

.footer-grid-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.footer-cr {
    color: #fff;
    padding: 30px 0;
    font-size: 13px;
    text-align: left;
}


.footer-logo-name {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    display: inline-block;
    vertical-align: top;
}

.footer-logo-img {
    vertical-align: top;
}