
body {
    font-family: 'Source Code Pro', monospace;
}

.btn {
    margin: 20px 0;
    cursor: pointer;
    background-color: #95a6d6;
    border: 1px solid blue;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.table {
    border: 1px solid grey;
    width: 600px;
    border-collapse: collapse;
    display: none;
    color: #0048b8;
    border-radius: 3px;
}

.active {
    display: table;
}

.table__caption {
    padding: 5px;
}

.table__td {
    border: 1px solid grey;
    padding: 5px;
}

.table__tr:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.5);
}

.table__tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.5);
}



